body {
	background-image: linear-gradient(45deg, #90f5da, #f2da6f);
	height: 100vh;
	background-attachment: fixed;
	margin: 0;
}

h1{
	font-family: Garamond;
	font-size: 55pt;
	text-align: center;
	color: white;
	margin: auto;
}

h2 {
	font-family: Comic Sans MS;
	font-size: 25pt;
	text-align: left;
	color: white;
	margin: 0;
	
	display: block;
	width: 100%
}

h3 {
	font-family: Helvetica;
	font-size: 20pt;
	text-align: left;
	margin: 0;
}

p {
	font-family: Helvetica;
	font-size: 15pt;
	text-align: left;
	margin: 0;
}

dl {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	
	width: 200pt;
	min-height: 370pt;
	margin: 2pt 5pt;
	background-image: linear-gradient(0deg, #a8edf7, #dfe1f7);
	border-radius: 10pt;
}

dl:hover {
	background-image: linear-gradient(0deg, #234a2e, #2e6341);
	color: white;
}

dt {
	font-family: Helvetica;
	font-size: 20pt;
	text-align: center;
}

dd {
	font-family: Helvetica;
	font-size: 12pt;
	text-align: center;
	margin: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
}

tr:nth-child(even) {
	background-color: #dfe1f7;
}

tr:nth-child(odd) {
	background-color: #a8edf7;
}
tr:hover {
	color: white;
	background-color: #2e6341;
}
td {
	font-family: Helvetica;
	font-size: 15pt;
	text-align: center;
	line-height: 20pt;
}

th {
	font-family: Helvetica;
	font-size: 20pt;
	text-align: center;
	line-height: 30pt;
}

.button {
	background-color: #b9bac4;
	color: white;
	width: 140pt;
	cursor: pointer;
	display: flex;
	text-decoration: none;
	float: left;
	border-radius: 10pt;
	align-items: center;
	justify-content: center;
}

.button:hover {
	background-color: #77798f;
}

.section {
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
	
	border-radius: 10pt;
	margin: auto;
	margin-bottom: 20pt;
	padding: 5pt;
	max-width: 1200pt;
	background-color: #f58867;
	overflow: auto;
}

#buttons {
	display: flex;
	justify-content: space-evenly;
	align-content: stretch;
	
	background-color: #b9bac4;
	border-radius: 35pt;
	
	max-width: 1210pt;
	margin: auto;
	height: 70pt;
}

#title {
	position: -webkit-sticky;
	position: sticky;
	top: -10pt;

	z-index: 1;

	margin: auto;
	margin-bottom: 20pt;
	margin-top: 20pt;
	background-color: #9e94eb;
	max-width: 1210pt;
	border-radius: 10pt;
	min-height: 100pt;
	
	display: flex;
	align-content: stretch;
}

#titlewords {
	display: block;
	margin: auto;
}

#back {
	width: 100%;
	height: auto;
}