body {
	background-color: #eaf4f4;
	height: 100vh;
	background-attachment: fixed;
	margin: 0;
}

h1{
	font-family: Garamond;
	font-size: 55pt;
	text-align: center;
	margin: auto;
}

h2 {
	display: block;
	
	font-family: Comic Sans MS;
	font-size: 25pt;
	text-align: left;
	color: white;
	
	background-color: #6b9080;
	
	margin: 5pt 5pt;
	padding: 2pt 10pt;
	width: 100%;
}

h3 {
	font-family: Helvetica;
	font-size: 20pt;
	text-align: left;
	color: white;
	margin: 0;
}

p {
	font-family: Helvetica;
	font-size: 15pt;
	text-align: left;
	margin: 0;
}

dt {
	font-family: Helvetica;
	font-size: 20pt;
	text-align: center;
}

dd {
	font-family: Helvetica;
	font-size: 12pt;
	text-align: center;
	margin: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
}

tr:nth-child(even) {
	background-color: #cce3de;
}

tr:nth-child(odd) {
	background-color: #a4c3b2;
}
tr:hover {
	background-color: #f6fff8;
}
td {
	font-family: Helvetica;
	font-size: 15pt;
	text-align: center;
	line-height: 20pt;
}

th {
	font-family: Helvetica;
	font-size: 20pt;
	text-align: center;
	line-height: 30pt;
}

hr {
	flex: 0 0 calc(100% - 2.5pt);
	border: 2pt solid #545454;
	margin: 0;
}

.formulae {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	
	width: 200pt;
	min-height: 370pt;
	margin: 2pt 5pt;
	
	background-color: #a4c3b2;
}

.formulae:hover {
	background-color: #f6fff8;
}

.definitions {
	display: block;
	float: left;
	
	width: 300pt;
	margin: 2pt 5pt;
	padding: 10pt;

	background-color: #a4c3b2;
}

.definitions dd {
	font-size: 15pt;
	text-align: justify;
	padding: 5pt 0;
	border-top: 2pt solid black;
}
.definitions dt {
	font-weight: bold;
}

.definitions:hover {
	background-color: #f6fff8;
}

.button {
	display: flex;
	float: left;
	align-items: center;
	justify-content: center;
	
	width: 140pt;
	
	background-color: #6b9080;
	cursor: pointer;
	
	color: white;
	text-decoration: none;
}

.button:hover {
	background-color: #a4c3b2;
}

.button:active {
	background-color: #f6fff8;
	color: #6b9080;
}

#content {
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
	
	margin: auto;
	margin-bottom: 20pt;
	padding: 0;
	max-width: 100%;

	background-color: #cce3de;
}

#buttons {
	display: flex;
	justify-content: space-evenly;
	align-content: stretch;
	
	background-color: #6b9080;
	
	max-width: 100%;
	margin: auto;
	height: 70pt;
}

#title {
	position: -webkit-sticky;
	position: sticky;
	top: -10pt;

	z-index: 1;

	background-color: #a4c3b2;
	
	max-width: 100%;
	min-height: 100pt;
	margin: 20pt auto;
	
	display: flex;
	align-content: stretch;
}

#titlewords {
	display: block;
	margin: auto;
}

#back {
	max-width: 1200pt;
	margin: 0 auto;
	height: auto;
}